<?xml version="1.0"?>
<launch>
    <arg name="view_param_file" default="view_params_camera.yaml" /> 
    <arg name="rgb_param_file" default="bgr_params_ref.yaml" /> 

    <rosparam command="load" file="$(env HOME)/Git/Masterprojekt/src/run_basics/launch/$(arg view_param_file)" />
    <rosparam command="load" file="$(env HOME)/Git/Masterprojekt/src/run_basics/launch/$(arg rgb_param_file)" />


    <!-- run cropper for pintcloud data to match size of images -->
    <node pkg="run_basics" type="Synchronizer" name="Synchronizer" output="screen"
          args="" />

    <!-- run imager republisher for converting compressed to raw -->
    <node pkg="image_transport" type="republish" name="pup_imgraw"
          args="compressed in:=/BugaSegm/synchronized/usb_cam/image_raw raw out:=/BugaSegm/img_raw" />

    <!-- run fusion of segmented pc-data -->
    <node pkg="run_basics" type="PcFusion" name="PcFusion" output="screen"
          args="" />
    
    <!-- run LiDAR_Net -->
    <node pkg="LiDAR_Net" type="predict_node.py" name="LiDAR_Net" output="screen"
          args="--layers xyzi
                --weights $(env HOME)/Git/Masterprojekt/src/LiDAR_Net/weights/model_weights_xyzi_16_1024_GroundDetection_Epoch20.h5
                --yaml $(env HOME)/Git/Masterprojekt/src/LiDAR_Net/config/semantic-kitti_GroundObject.yaml" />

    <!-- run SegNet -->
    <node pkg="SegNet" type="SegNet.py" name="SegNet" output="screen"
          args="--model $(env HOME)/Git/Masterprojekt/src/SegNet/Example_Models/segnet_model_driving_webdemo.prototxt
                --weights $(env HOME)/Git/Masterprojekt/src/SegNet/Example_Models/segnet_weights_driving_webdemo.caffemodel
                --colours $(env HOME)/Git/Masterprojekt/src/SegNet/src/camvid12.png
                --caffe $(env HOME)/caffe-segnet/" />

    <!-- combine information of segmented image and segmented pc into pc -->
    <node pkg="run_basics" type="DataFusion" name="DataFusion" output="screen"
          args="" />

    <!-- run ObjectCalculator to calculate Object-information from the PointCloud -->
    <node pkg="run_basics" type="ObjectCalculator.py" name="ObjectCalculator" output="screen"
          args="" />

    <!-- run final_visualizer to show the results -->
    <node pkg="run_basics" type="FinalVisualizer" name="FinalVisualizer" output="screen"
          args="-t /BugaSegm/pc_combined -s" />

    <!-- run rviz -->
    <!--
    <node pkg="rviz" type="rviz" name="rviz_gui"
          args="-d $(env HOME)/Masterprojekt/src/run_basics/rviz/basics.rviz" />
    -->
</launch>
